* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

h1 {
    margin: 70px;
    text-align: center;
    font-size: 5rem;
}

a {
    text-decoration: underline;
    color: black;
}

table {
    width: 60%;
    border-collapse: collapse;
    margin: 50px auto;
}

tr,
th,
td {
    border: 1px solid black;
    outline: none;
}

th {
    font-size: 2rem;
    padding: 4px 20px;
}

td {
    font-size: 1.8rem;
    padding: 5px 20px;
}

td:nth-child(2),
td:nth-child(3) {
    text-align: center;
}